.img_example {
  background-color: @datasetImgExampleBackgroundColor;
  position: relative;
  border-width: 100%;
}

.modify_bloc_4 {
  background: @datasetBackgroundColor;
  background-image: url("../images/visual-bg.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  border-top: @datasetBorderTopColor 10px solid;
}

@media (max-width: 979px) {
  .modify_bloc_4 {
    padding-bottom: 25px;
  }
}