.img_example {
    background-color: @featuredImgExampleBackgroundColor;
    position: relative;
    width: 100%;
}

.modify_bloc_4{
    background: @featuredBackgroundColor;
    background-image: url("../images/visual-bg.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    border-top: @featureBorderTopColor 10px solid;
}

@media (max-width: 979px) {
    .modify_bloc_4 {
      padding-bottom: 25px;
    }
}