.wrapper {
  margin-top: 25px;
  border: none;
  box-shadow: none;
}

@media (min-width: 768px) {
  .wrapper {
    background-image: url("@{imagePath}/wrapper-bg.jpg");
    background-position: 175px 10px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media (min-width: 980px) {
  .wrapper {
    background-position: 230px 10px;
  }
}

[role=main],
.main {
  background: @layoutBackgroundColor;
  padding-top: 0;
  padding-bottom: 0;
}

.context-info {
  .image {
    a {
      border-bottom: none;
    }
  }
}

.span3 {
  width: 210px;
}

@media (min-width: 768px) and (max-width: 979px) {
  .span3 {
    width: 166px;
  }
}

@media (max-width: 767px) {
  .span3 {
    width: unset;
  }
}
