.module-content {
    padding: 0 0px;

  &:first-child {
    background-color: transparent;
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .module-content:first-child {
    margin-top: 30px;
  }
}

.module-content a {
  color: @moduleContentLinkTextColor;
  text-decoration: none;
  border-bottom: 2px solid @moduleLinkBorderBottomColor;
}

.module-heading {
  background-color: @moduleHeadingBackgroundColor;
  border-bottom-color: @moduleHeadingBorderBottomColor;
  margin-top: -25px;
}

@media only screen and (min-width: 979px) {
    .module-heading {
        padding: 30px 0px;
        padding-left: calc(100vw / 2 - 940px / 2);
        padding-right: calc(100vw / 2 - 940px / 2);
        margin-left: calc(-100vw / 2 + 940px / 2);
        margin-right: calc(-99vw / 2 + 940px / 2);
    }
}

@media only screen and (max-width: 978px) and (min-width: 767px) {
    .module-heading {
        padding: 20px 0px;
        padding-left: calc(100vw / 2 - 724px / 2);
        padding-right: calc(100vw / 2 - 724px / 2);
        margin-left: calc(-100vw / 2 + 724px / 2);
        margin-right: calc(-99vw / 2 + 724px / 2);
    }
}

@media screen and (max-width: 767px) {
    .module-heading {
        padding: 30px 20px;
        margin: -25px -20px;
    }
}

// Secondary column specific

.module-narrow {
  .module-heading,
  .module-footer {
    padding-left: 0;
    padding-right: 0;
  }

  .module-heading {
    font-size: 16px;
    background-color: @moduleNarrowHeadingBackgroundColor;
    border-top: none;
    border-bottom-color: @moduleNarrowHeadingBoderBottomColor;
    margin: 0;
  }

  .module-content {
    padding: 10px 10px 10px 0;
  }
}

// Dataset Map

.dataset-map-expanded #dataset-map {
  padding-left: calc(100vw / 2 - 940px / 2);
  padding-right: calc(99vw / 2 - 940px / 2);
  margin-left: calc(-100vw / 2 + 940px / 2) !important;
  margin-right: calc(-99vw / 2 + 940px / 2) !important;
  width: 100% !important;
  height: 484px !important;
  box-shadow: @datasetMapBoxShadow;
  transition: all 0.3s;
}
