.search-form {
    .search-input {
        &.search-giant {
            &:hover input {
                box-shadow: @searchHoverInputBoxShadow;
            }
            
            input {
                box-shadow: @searchInputBoxShadow;
                border: none;
                transition: all 0.2s cubic-bezier(.25, .8, .25, 1);
            }

            button {
                margin-top: -15px; // Remove this in CKAN >= 2.8
            }
        }
    }

  .filter-list {
    .pill {
      background-color: @filterListPillBackgroundColor;
    }
  }
}

.dataset-search {
  padding-top: 20px;
  background-color: @datasetSearchBackgroundColor;
  border-bottom: 1px solid @datasetSearchBorderBottomColor;

  .search-form {
    padding-bottom: 0;
    border-bottom: none;
  }
}

@media (max-width: 767px) {
  .dataset-search {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
