.toolbar {
  background-color: @toolbarBackgroundColor;
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 15px;

  .breadcrumb a,
  .breadcrumb li {
    color: @breadcrumbColor;
    font-size: 12pt;
    text-shadow: none;
  }
}

@media only screen and (min-width: 979px) {
    .toolbar {
        padding-left: calc(100vw / 2 - 940px / 2);
        margin-left: calc(-100vw / 2 + 940px / 2);
        margin-right: calc(-99vw / 2 + 940px / 2);
    }
}

@media (max-width: 979px) {
    .toolbar {
        padding-left: 20px;
    }
}

@media screen and (max-width: 978px) and (min-width: 767px) {
    .toolbar {
        padding-left: calc(100vw / 2 - 724px / 2);
        margin-left: calc(-100vw / 2 + 724px / 2);
        margin-right: calc(-99vw / 2 + 724px / 2);
    }
}

@media screen and (max-width: 767px) {
    .toolbar {
      margin-left: -20px;
      margin-right: -20px;
    }
}
