.modify_bloc_3 {
    border-top: @topicBorderTopColor 10px solid;
    background-color: @topicBackgroundColor;
    padding-bottom: 25px;
    
    .tx_black {
        width: 100%;
        font-size: 13px;
        line-height: 1.5em;
    }
}

:lang(zh_TW) {
    .modify_bloc_3 .tx_black{
        font-size: 16px;
    }
}

.index_topics {
    .site-search {
        margin: 0;

        input[type="text"] {
            border: 0px;
            border-bottom: 2px solid @topicSiteSearchInputBorderBottomColor;
            border-radius: 0px;
            box-shadow: none;
            font-size: 16px;
            color: @topicSiteSearchInputColor;
            padding-top: 20px;
            background-color: transparent;
        }
        
        input[type="text"]:focus {
            border-bottom: 2px solid @topicSiteSearchInputFocusBorderBottomColor;
        }
    }
}

@media (max-width: 767px) {
    .index_topics input[type="text"] {
        width: 120px;
        padding-top: 10px;
    }
}

.btn_search {
    margin-top      : 12px;
    border          : 0;
    background-color: @topicBtnSearchBackgroundColor;
    box-shadow      : none;
    color           : @topicBtnSearchColor;
    border-radius   : 30px;
    padding         : 12px 15px;
    border          : none !important;
    font-size       : 16px;
    transition      : 0.2s;
}

@media (max-width: 767px) {
    .btn_search {
        margin-top: 5px;
    }
}

.btn_search:hover,
.btn_search:focus {
    background-color: @topicBtnSearchHoverBackgroundColor;
}

.img-circle{
    border: 5px @topicImgCircleBorderColor solid;
    background: @topicImgCircleBackgroundColor;
}

.img-circle:hover{
    -ms-transform: scale(1.08); /* IE 9 */
    -webkit-transform: scale(1.08); /* Safari */
    transform: scale(1.08);
    transition: 0.13s;
}