// Masthead
@mastheadTextColor: #000;
@mastheadBackgroundColor: #fff;
@mastheadLinkColor: @mastheadTextColor;
@mastheadLinkAnimationBackgroundColor: #00e09b;
@mastheadLinkActiveBackgroundColor: @mastheadLinkAnimationBackgroundColor;

@accountMastheadTextColor: @mastheadBackgroundColor;
@accountMastheadBackgroundColor: @mastheadTextColor;

@headerNavbarBackgroundColor: @mastheadBackgroundColor;

// Bootstrap
@bootstrapBtnColor: #333;
@bootstrapBtnPrimaryBackgroundColor: rgba(0, 0, 0, 0);
@bootstrapBtnPrimaryBorderColor: #cdcdcd;
@bootstrapBtnPrimaryQuestionColor: white;
@bootstrapBtnHoverColor: black;
@bootstrapBtnHoverBorderColor: #00e09b;
@bootstrapBtnHoverBackgroundColor: @bootstrapBtnHoverBorderColor;

// Homepage
@homepageTxWhite: white;
@homepageTxBlack: #000;
@homepageFeaturetteHeadingLinkColor: @homepageTxBlack;

// Banner
@bannerBackgroundColor: #012819;
@bannerBackgroundImage: linear-gradient(to right, #00e09b -30%, #012819 40%, #012819 95%, #00e09b 130%);
@bannerBtnFloatColor: @bootstrapBtnHoverBorderColor;
@bannerBtnFloatBorderColor: @bootstrapBtnHoverBorderColor;
@bannerBtnFloatHoverColor: @bootstrapBtnHoverColor;
@bannerBtnFloatHoverBorderColor: #fff;
@bannerBtnFloatHoverBackgroundColor: @bannerBtnFloatHoverBorderColor;
@bannerBtnFloatHoverBoxShadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

// Topic
@topicBorderTopColor: #ececec;
@topicBackgroundColor: #fff;
@topicSiteSearchInputColor: #000;
@topicSiteSearchInputBorderBottomColor: @bootstrapBtnPrimaryBorderColor;
@topicSiteSearchInputFocusBorderBottomColor: @bootstrapBtnHoverBorderColor;
@topicBtnSearchColor: @bootstrapBtnPrimaryQuestionColor;
@topicBtnSearchBackgroundColor: @bootstrapBtnColor;
@topicBtnSearchHoverBackgroundColor: @bootstrapBtnHoverBorderColor;
@topicImgCircleBorderColor: #012819;
@topicImgCircleBackgroundColor: @topicImgCircleBorderColor;

// Featured
@featuredBackgroundColor: #fff;
@featureBorderTopColor: #ececec;

// Partner
@partnerBorderTopColor: #ececec;
@partnerLinkColor: #000;
@partnerLinkBorderBottomColor: #00e09b;
@partnerLinkHoverColor: @partnerABorderBottomColor;

