// Masthead
@mastheadTextColor: #000;
@mastheadBackgroundColor: #fff;
@mastheadLinkColor: @mastheadTextColor;
@mastheadLinkAnimationBackgroundColor: #00e09b;
@mastheadLinkActiveBackgroundColor: @mastheadLinkAnimationBackgroundColor;

@accountMastheadTextColor: @mastheadBackgroundColor;
@accountMastheadBackgroundColor: @mastheadTextColor;

// Homepage
@homepageTxWhite: white;
@homepageTxBlack: #000;

// Featured
@featuredImgExampleBackgroundColor: #333;

// Bootstrap
@bootstrapBtnColor: #333;
@bootstrapBtnPrimaryBackgroundColor: rgba(0, 0, 0, 0);
@bootstrapBtnPrimaryBorderColor: #cdcdcd;
@bootstrapBtnPrimaryQuestionColor: white;
@bootstrapBtnHoverColor: black;
@bootstrapBtnHoverBorderColor: #00e09b;
@bootstrapBtnHoverBackgroundColor: @bootstrapBtnHoverBorderColor;