requests[security]
python-dateutil
geomet>=0.1.0
-e git+git://github.com/depositar-io/ckan.git#egg=ckan
-e git+git://github.com/ckan/ckanext-scheming.git@release-1.1.0#egg=ckanext-scheming
-e git+git://github.com/open-data/ckanext-repeating.git#egg=ckanext-repeating
-e git+git://github.com/depositar-io/ckanext-spatial.git#egg=ckanext-spatial
-e git+git://github.com/depositar-io/ckanext-geoview.git#egg=ckanext-geoview
-e git+git://github.com/depositar-io/ckanext-wikidatakeyword.git#egg=ckanext-wikidatakeyword
-e git+git://github.com/depositar-io/ckanext-pages.git@zh-tw#egg=ckanext-pages
-e git+git://github.com/depositar-io/ckanext-pdfview.git#egg=ckanext-pdfview
