# This will install the requirements used to build the docs

-r requirements.txt
-r dev-requirements.txt
Sphinx==5.1.1
pydata-sphinx-theme==0.15.4
Jinja2==3.1.2 # below for readthedocs/readthedocs.org#10798
Pillow==10.3.0
mock
markupsafe==2.1.1
commonmark
recommonmark
readthedocs-sphinx-ext
sphinx_design
sphinx-copybutton
myst-parser==1.0.0
jieba==0.42.1
