# This will install the requirements used to build the docs

-r requirements.txt
-r dev-requirements.txt
Jinja2==2.10.1 # below for readthedocs/readthedocs.org#10798
Pillow==10.3.0
mock==2.0.0
markupsafe==1.1.1
commonmark
recommonmark
readthedocs-sphinx-ext
