{#
Displays a slider widget to define a date filter on the dataset search page sidebar
#}
{% set date_range = h.get_default_slider_values() %}
{% set default_dates = h.get_date_url_param() %}

<section class="module module-narrow module-shallow js-hide" data-module="date-facet" data-module-begin="{{ date_range[0] }}" data-module-end="{{ date_range[1] }}" data-module-default_begin="{{ default_dates[0] }}" data-module-default_end="{{ default_dates[1] }}">
  <h2 class="module-heading">
    <i class="fa fa-medium fa-calendar"></i>
    {{ _('Temporal Search') }}
    <a href="{{ h.remove_url_param(['ext_begin_date', 'ext_end_date']) }}" class="action">
      {{ _('Clear') }}
    </a>
  </h2>
  <div class="control-group">
    <select id="field-time-period" name="time-period">
      <option>{{ _('Or use time period shortcut') }}</option>
      {% for label, start, end in h.get_time_period_for_facet_slider() %}
        <option data-start="{{ start }}" data-end="{{ end }}" {% if start + "-01-01" == default_dates[0] and end + "-12-31" == default_dates[1] %} selected="selected" {% endif %}>{{ label }}</option>
      {% endfor %}
    </select>
  </div>
</section>

{% resource 'ckanext-data-depositario/date_facet_slider' %}
