{% ckan_extends %}

{% block facet_list_heading %}
  <h2 class="module-heading">
    <i class="icon-medium icon-filter"></i>
    {% set title = title or h.get_facet_title(name) %}
    {{ title }}
    {% if extra_snippet %}
      {%- snippet extra_snippet -%}
    {% endif %}
  </h2>
{% endblock %}

{% block facet_list_items %}
  {% if name == 'keywords_facet' %}
    <div data-module="show-wikidata"/>
    {% resource 'ckanext-data-depositario/scripts/vendor/wikidata-sdk/wikidata-sdk.js' %}
    {% resource 'ckanext-data-depositario/scripts/modules/show-wikidata.js' %}
  {% endif %}
  {{ super() }}
{% endblock %}
