{% import 'macros/form.html' as form %}

{%- set options=[] -%}
{%- for c in h.get_time_period() -%}
    {%- do options.append({
        'value': c.value,
        'text': h.scheming_language_text(c.label)}) -%}
{%- endfor -%}

{% call form.select(
    'time_period',
    id='time_period',
    label=_('Time Period Shortcut'),
    options=options,
    error=errors['time_period'],
    classes=['control-medium'],
    attrs={'data-module': 'autocomplete'}
    )
%}

    {{- form.info(
        text=_('This shortcut provides some historical periods for filling temporal information of the dataset.'),
        inline=true
    ) -}}
{% endcall %}

{% resource 'ckanext-data-depositario/scripts/time_period.js' %}
