[main]

order = scripts/vendor/jqueryui/jquery-ui.js scripts/vendor/momentjs/moment.js scripts/vendor/jquery-range-slider/jQDateRangeSlider-min.js

[groups]

main =
    styles/custom.css

index =
    scripts/vendor/processing.js/processing.js

package_form =
    scripts/vendor/jqueryui/jquery-ui.js
    scripts/vendor/leaflet/leaflet.js
    scripts/vendor/leaflet/plugins/Leaflet.GridLayer.GoogleMutant/Leaflet.GoogleMutant.js
    scripts/vendor/leaflet/plugins/leaflet.draw/leaflet.draw.js
    scripts/vendor/js-sha1/sha1.js
    scripts/vendor/lodash.js/lodash.js
    scripts/map.js
    scripts/modules/maintainer.js
    scripts/data_type_sel.js
    scripts/temp_fields.js
    scripts/modules/parcel-corner-to-geojson.js
    scripts/modules/dataset-visibility.js
    scripts/modules/slug-preview-slug-hash.js
    scripts/modules/select2-enabler.js

    scripts/vendor/leaflet/leaflet.css
    scripts/vendor/leaflet/plugins/leaflet.draw/leaflet.draw.css
    styles/map.css

date_facet_slider =
    scripts/vendor/jqueryui/jquery-ui.js
    scripts/vendor/jquery-range-slider/jQDateRangeSlider.js
    scripts/vendor/momentjs/moment.js
    scripts/date-facet.js

    scripts/vendor/jqueryui/jquery-ui.css
    scripts/vendor/jquery-range-slider/iThing.css
    styles/date-facet.css

intro =
    scripts/vendor/mobile-detect/mobile-detect.js
    scripts/vendor/intro.js/intro.js
    scripts/user-guide.js

    scripts/vendor/intro.js/introjs.css
    scripts/vendor/intro.js/introjs-nassim.css
