{% extends "page.html" %}

{% block subtitle %}{{ _('Help') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">
    <a class="active" href="/help">{{ _('Help') }}</a>
  </li>
{% endblock %}

{% block primary %}
  {% set doc_url = 'http://docs.depositar.io/{0}/{1}/'.format(h.lang(), h.get_pkg_version()) %}
  <iframe src="{{ doc_url }}" frameborder="0" style="width: 100%; height: 895px;">
    <p>{{ _('Your browser does not support iframes.') }}</p>
  </iframe>
{% endblock %}

{% block secondary %}{% endblock %}
