{% extends "page.html" %}

{% block title %}{{ _('depositar — Deposit, Discover, Reuse') }}{% endblock %}

{%- block scripts %}
  {% resource 'ckanext-data-depositario/index' %}
  <script>document.documentElement.className = "js";</script>
  {{ super() }}
{% endblock -%}

{%- block styles %}
  {% resource 'depositar_theme/index' %}
  {{ super() }}
{% endblock -%}

{% block main_content %}
  {% block flash %}
    <div class="flash-messages">
      {% block flash_inner %}
        {% for message in h.flash.pop_messages() | list %}
          <div class="alert fade in {{ message.category }}">
            {{ h.literal(message) }}
          </div>
        {% endfor %}
      {% endblock %}
    </div>
  {% endblock %}

  {% snippet "home/snippets/idx_masthead.html" %}
  {#% snippet "home/snippets/idx_features.html" %#}
  {% snippet "home/snippets/idx_topics.html" %}
  {% snippet "home/snippets/idx_datasets.html" %}
  {% snippet "home/snippets/idx_partners.html" %}
{% endblock %}

{% block secondary %}{% endblock %}
