{%- set exclude_fields = [
    'title',
    'name',
    'notes',
    'tag_string',
    'license_id',
    'owner_org',
    ] -%}

{%- set basic_info_fields = [
    'identifier',
    'data_type',
    'language',
    'remarks'
    ] -%}

{%- set temporal_fields = [
    'start_time',
    'end_time'
    ] -%}

{%- set spatial_fields = [
    'spatial',
    'x_min',
    'x_max',
    'y_min',
    'y_max',
    'spatial_res'
    ] -%}

{%- set mgmt_info_fields = [
    'author_name',
    'created_time',
    'preprocessing',
    'maintainer_name',
    'maintainer_mail',
    'maintainer_phone',
    'identifier'
    ] -%}

<section class="additional-info">
  {% snippet 'scheming/package/snippets/additional_info_fields.html', title=_('Basic Information'), pkg_dict=pkg_dict, additional_fields=basic_info_fields, exclude_fields=exclude_fields, schema=schema %}
</section>

{% if pkg_dict.get('start_time') %}
  <section class="additional-info">
    {% snippet 'scheming/package/snippets/additional_info_fields.html', title=_('Temporal Information (Time Period of Dataset)'), pkg_dict=pkg_dict, additional_fields=temporal_fields, exclude_fields=exclude_fields, schema=schema %}
  </section>
{% endif %}

{% if pkg_dict.get('x_min') or pkg_dict.get('x_max') or pkg_dict.get('y_min') or pkg_dict.get('y_max') or pkg_dict.get('spatial') %}
  <section class="additional-info">
    {% snippet 'scheming/package/snippets/additional_info_fields.html', title=_('Spatial Fields'), pkg_dict=pkg_dict, additional_fields=spatial_fields, exclude_fields=exclude_fields, schema=schema %}
  </section>
{% endif %}

{% snippet 'wikidatakeyword/snippets/wikidatakeyword_list.html', keywords=pkg_dict['keywords'] %}

<sction class="additional-info">
  {% snippet 'scheming/package/snippets/additional_info_fields.html', title=_('Management Information'), pkg_dict=pkg_dict, additional_fields=mgmt_info_fields, exclude_fields=exclude_fields, schema=schema %}
