{% extends 'package/new_package_form.html' %}

{% block basic_fields %}
  {%- if not dataset_type -%}
    <p>
    dataset_type not passed to template. your version of CKAN
    might not be compatible with ckanext-scheming
    </p>
  {%- endif -%}
  {%- set schema = h.scheming_get_dataset_schema(dataset_type) -%}
  <legend><h2> {{ _('Basic Information') }} </h2></legend>
  {%- for field in schema.dataset_fields -%}
    {% if field.field_name == 'language' %}
      <legend><h2> {{ _('Descriptive Information') }} </h2></legend>
    {% elif field.field_name == 'temp_res' %}
      <h3> {{ _('Temporal Information (Time Period of Dataset)') }} </h3>
      {%- snippet 'snippets/time_period_select.html', errors=errors -%}
    {% elif field.field_name == 'keywords' %}
      <h3> {{ _('Keywords') }} </h3>
    {% elif field.field_name == 'maintainer_name' %}
      <div class="control-group control-medium">
        <div class="controls" data-module="maintainer" data-module-account_display_name="{{ c.userobj.display_name if c.userobj else ''}}" data-module-account_email="{{ c.userobj.email if c.userobj else ''}}">
          <button id="maintainer_autofill" class="btn btn-primary" type="button">{{ _('Use your account information to fill in maintainer\'s name and email') }}</button>
        </div>
      </div>
    {% elif field.field_name == 'spatial' %}
      <h3> {{ _('Spatial Fields') }} </h3>
      {% set gmap_config = h.get_gmap_config() %}
      <div class="control-group control-medium">
        <div class="controls">
          <button data-module='parcel-corner-to-geojson' class='btn btn-primary' type='button'>{{ _('Convert from Parcel Corner') }}</button>
          <button id='show_map' class='btn btn-primary' type='button'>{{ _('Using a Map') }}</button>
	  <div data-module='map' id='map' data-module-gmap_config='{{ h.dump_json(gmap_config) }}'></div>
        </div>
      </div>
    {% elif field.field_name == 'book_isbn' %}
      <div id="book-fields">
      <h3> {{ _('Books') }} </h3>
    {% elif field.field_name == 'scan_source' %}
      </div>
      <div id="image-fields">
        <h3> {{ _('Pictures') }} </h3>
    {% elif field.field_name == 'license_id' %}
      </div>
      <legend><h2> {{ _('Management Information') }} </h2></legend>
    {% endif %}
    {%- set license_field = h.scheming_field_by_name(schema.dataset_fields, 'license_id') -%}
    {%- set licenses = [] -%}
    {%- for license_desc, license_id in c.licenses -%}
      {%- set license_label = h.scheming_choices_label(h.scheming_field_choices(license_field), license_id) -%}
      {% do licenses.append((license_label, license_id)) %}
    {%- endfor -%}
    {%- snippet 'scheming/snippets/form_field.html',
      field=field, data=data, errors=errors, licenses=licenses,
      entity_type='dataset', object_type=dataset_type -%}
  {%- endfor -%}

  {% resource 'ckanext-data-depositario/package_form' %}

{% endblock %}

{% block metadata_fields %}
{% endblock %}

{% block disclaimer %}
{% endblock %}
