{% ckan_extends %}

{% block secondary_content %}
  {{ super() }}

  {% set dataset_extent = c.pkg_dict.get('spatial', '') %}
  {% if dataset_extent %}
    {% snippet "spatial/snippets/dataset_map_sidebar.html", extent=dataset_extent %}
  {% endif %}

  {% block other_access %}
    {% set api_url = 'http://docs.ckan.org/en/{0}/api/'.format(g.ckan_doc_version) %}
    <section class="module module-narrow module-shallow">
      <h2 class="module-heading">
        <i class="icon-copy"></i>
	{{ _('Other Access') }}
      </h2>
      <div class="module-content">
        <p>{{ _('The information on this page (the dataset metadata) is also available in these formats:') }}</p>
        <p class="btn-group">
          <a href="{{ h.url_for(controller='api', logic_function='package_show', action='action', id=c.pkg.name,ver=3) }}" class="btn btn-small">
            <i class="ckan-icon ckan-icon-json"></i> JSON
          </a>
        </p>
	<p><small>{{ _('via the ') }}<a href="{{ api_url }}" class="external" target="_blank">{{ _('CKAN API') }}</a></small></p>
      </div>
    </section>
  {% endblock %}
{% endblock %}

{% block styles %}
  {{ super() }}
  {% resource 'ckanext-data-depositario/styles/icons.css' %}
{% endblock %}
