{% ckan_extends %}

{% block breadcrumb_content %}
  {{ super() }}
  <div id="intro" data-module="intro-action"></div>
{% endblock %}

{% block maintag %}
  {{ super() }}
  {% block form %}
    <div class="dataset-search">
      <div class="container">
        {{ super () }}
      </div>
    </div>
  {% endblock %}
{% endblock %}

{% block primary_content %}
  <section class="module">
    <div class="module-content">
      {% block page_primary_action %}
        {{ super() }}
      {% endblock %}
      {% block package_search_results_list %}
        {{ super() }}
      {% endblock %}
    </div>

    {% block page_pagination %}
      {{ super() }}
    {% endblock %}
  </section>

  {% block package_search_results_api %}
    {{ super() }}
  {% endblock %}
{% endblock %}

{% block secondary_content %}
<div class="filters">
  <div>
    {% snippet "spatial/snippets/spatial_query.html", default_extent="[[21.86, 119.18], [25.37, 122.34]]" %}
    {% snippet "snippets/date_facet_slider.html" %}
    {% for facet in c.facet_titles %}
      {% if facet != 'date_facet' %}
        {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet) }}
      {% endif %}
    {% endfor %}
  </div>
  <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
</div>
{% endblock %}

{%- block scripts %}
    {% resource 'ckanext-data-depositario/intro' %}
  {{ super() }}
{% endblock -%}
