{% ckan_extends %}

{% block breadcrumb_content %}
  {{ super() }}
  <div id="intro" data-module="intro-action"></div>
{% endblock %}

{% block pre_primary %}
  <div class="module-heading">
    {% set facets = {
      'fields': c.fields_grouped,
      'search': c.search_facets,
      'titles': c.facet_titles,
      'translated_fields': c.translated_fields,
      'remove_field': c.remove_field }
    %}
    {% set sorting = [
      (_('Relevance'), 'score desc, metadata_modified desc'),
      (_('Name Ascending'), 'title_string asc'),
      (_('Name Descending'), 'title_string desc'),
      (_('Last Modified'), 'metadata_modified desc'),
      (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
    %}
    {% snippet 'snippets/search_form.html', type='dataset', query=c.q, sorting=sorting, sorting_selected=c.sort_by_selected, count=c.page.item_count, facets=facets, show_empty=request.params, error=c.query_error, fields=c.fields, no_bottom_border=True %}
  </div>
{% endblock %}

{% block form %}
{% endblock %}

{% block secondary_content %}
<div class="filters">
  <div>
    {% snippet "spatial/snippets/spatial_query.html", default_extent="[[21.86, 119.18], [25.37, 122.34]]" %}
    {% snippet "snippets/date_facet_slider.html" %}
  </div>
  <div id="facets">
    {%- set schema = h.scheming_get_dataset_schema('dataset') -%}
    {% for facet in c.facet_titles %}
      {% if facet not in ['date_facet', 'license_id', 'organization', 'groups'] %}
        {% set field_name = facet|replace('_facet', '') %}
	{% set field = h.scheming_field_by_name(schema.dataset_fields, field_name) %}
        {% macro render_choices_label(item) %}
          {{ h.scheming_choices_label(field.choices, item.name) }}
        {% endmacro %}
        {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet, label_function=render_choices_label) }}
      {# These three facets do not have translations #}
      {% elif facet == 'license_id' %}
        {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet, extra_snippet='snippets/license_details.html') }}
      {% elif facet in ['organization', 'groups'] %}
        {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet) }}
      {% endif %}
    {% endfor %}
  </div>
  <a class="close no-text hide-filters"><i class="icon-remove-sign"></i><span class="text">close</span></a>
</div>
{% endblock %}

{%- block scripts %}
    {% resource 'ckanext-data-depositario/intro' %}
  {{ super() }}
{% endblock -%}
