/* main/ body */
body{
  line-height: 30px;
  font-size: 16px;
  background-color: #000;
  padding-bottom: 40px;
  color: #000;
  line-height: 30px;
  font-family: "Noto Sans TC", arial, 微軟正黑體修正, 微軟正黑體;
}

.container-fluid{
  padding-left: 0;
  padding-right: 0;
}
@media (max-width: 767px) {
  body{
    padding-right: 40px;
    background-color: #fff;
    background: none;
  }
}

h1, h2, h3 {
  line-height: 2.2rem;
}
a{
  color:#077a48;
}

.image a, .media-item a{
  border-bottom: none !important;
}

::selection {
	background: #00e09b;
	color: #fff;
}

.image a{
 border-bottom:none;
}

.module-content a, .module-heading a, .modify_bloc_4 a {
  text-decoration: none;
  border-bottom: 2px solid #00e09b;
  color: #000;
  transition: 0.1s;
}

.site-footer a{
  text-decoration: none;
  border-bottom: none;
  color: #000;
}
li{
  line-height: 30px;
}

.p_mark{
  text-transform: uppercase;
  color:#00e09b;
}
.font_s{
  font-size: 12.5px;
}

[role=main], .main, .masthead{
  background-color: #FFFFFF;
  background-image: none;
}

.masthead a {
  color: #000;
}

.account-masthead {
  color: #000000;
  background: #000;
  background-image: none;
  padding-top: 5px;
}

@media (max-width: 767px) {
  .account-masthead {
    margin-right: -40px;
  }
}

.border-l{
  border-left: #cdcdcd 1px solid;
}
.border-t{
  border-top: #cdcdcd 1px solid;
}

@media (max-width: 767px) {
  .border-l, .border-t{
    border-top: none;
    border-left: none;
  }
}
/* navbar */

header.navbar {
  background-color: #FFFFFF;
  border-bottom: none;
  padding-top: 20px;
}

.masthead .nav>li>a, .masthead .nav>li>a:focus, .masthead .nav>li>a:hover, .masthead .nav>.active>a, .masthead .nav>.active>a:hover, .masthead .nav>.active>a:focus {
  color: #000;
  text-shadow: none;
  font-size: 15px;
}


@media (max-width: 979px) {
  .nav-collapse .nav>li {
    font-size: 25px;
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .masthead .container{
    padding-right: 0;
  }
  .mast_heading{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.masthead .container .logo img {
  width: 185px;
  padding-left: 5px;
}

[role=main], .main{
  padding-top: 0px;
  padding-bottom: 0px;
}


/*map*/

.dataset-map-expanded #dataset-map{
  padding-left: calc(100vw / 2 - 940px / 2);
  padding-right: calc(99vw / 2 - 940px / 2);
  margin-left: calc(-100vw / 2 + 940px / 2) !important;
  margin-right: calc(-99vw / 2 + 940px / 2) !important;
  width: 100% !important;
  height: 484px !important;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  transition: all 0.3s;
}
/*toolbar & breadcrumb*/

@media only screen and (min-width: 979px) {

  .toolbar{
    margin-bottom: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: calc(100vw / 2 - 940px / 2);
    margin-left: calc(-100vw / 2 + 940px / 2);
    margin-right: calc(-99vw / 2 + 940px / 2);
    color: #fff;
    background-color: #333333;
  }

  .toolbar .breadcrumb a, .toolbar .breadcrumb li {
    color: #fff;
    font-size: 12pt;
  }
}

@media (max-width: 979px) {
  .toolbar{
    margin-bottom: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
    background-color: #333333;
    padding-left: 40px;
  }

  .toolbar .breadcrumb a, .toolbar .breadcrumb li {
    color: #fff;
    font-size: 12pt;
  }
}

@media screen and (max-width: 978px) and (min-width: 767px) {
  .toolbar{
    padding-left: calc(100vw / 2 - 724px / 2);
    margin-left: calc(-100vw / 2 + 724px / 2);
    margin-right: calc(-99vw / 2 + 724px / 2);
  }
}

@media screen and (max-width: 767px) {
  .toolbar{
    margin: 0 -40px -0px -40px;
  }
}
.breadcrumb>li{
  text-shadow: none;
  }

/*content wrapper*/
.wrapper{
  position: relative;
  margin-top: 25px;
  border: none;
  background-color: #fff;
  margin-bottom: 20px;
  margin-left: 0;
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: white;
  background-image: url("../images/wrapper-bg.jpg");
  background-position: 230px 10px;
}


@media screen and (max-width: 767px) {
  .wrapper{
    background-image: none;
  }
}

.module-content{
  padding: 0 0px;
}

.select{
  width:100%;
}
/*module*/

.span3{
  width: 210px;
}


@media screen and (max-width: 978px) and (min-width: 767px) {
  .span3{
    width: 166px;
  }
  .wrapper{
    background-position: 175px 10px;
  }
}

@media screen and (max-width: 767px) {
  .span3{
    width: 100%;
  }
}
#facets{
  background-color: #fff;
}

.dataset-heading{
  border: none;
  font-size: 21px;
}

.dataset-heading a{
  border-bottom: none !important;
}

.dataset-resources li a{
  background-color: #d7e82d;
  border: none;
}


@media only screen and (min-width: 979px) {
  .module-heading{
    padding: 30px 0px;
    font-size: 16px;
    border-top: none;
    background-color: #edf7f1;
    padding-left: calc(100vw / 2 - 940px / 2);
    padding-right: calc(100vw / 2 - 940px / 2);
    margin-left: calc(-100vw / 2 + 940px / 2);
    margin-right: calc(-99vw / 2 + 940px / 2);
    margin-top: -25px;border-bottom: 1px solid #999;
  }

  .module, .module-narrow, .module-shallow{
    background-color: #fff;
  }

  .module .module-heading {
    background-color: #fff;
    border-bottom: 0;
  }
}

@media only screen and (max-width: 978px) and (min-width: 767px) {
  .module-heading{
    padding: 20px 0px;
    font-size: 16px;
    border-top: none;
    background-color: #edf7f1;
    padding-left: calc(100vw / 2 - 724px / 2);
    padding-right: calc(100vw / 2 - 724px / 2);
    margin-left: calc(-100vw / 2 + 724px / 2);
    margin-right: calc(-99vw / 2 + 724px / 2);
    margin-top: -25px;
  }

  .module, .module-narrow, .module-shallow{
    background-color: #fff;
  }

  .module .module-heading {
    background-color: #fff;
    border-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .module-heading{
    padding: 30px 20px;
    font-size: 16px;
    border-top: none;
    background-color: #edf7f1;
    margin: -25px -20px;
  }

  .module .module-heading {
    background-color: #fff;
    border-bottom: 0;
  }
}

.module-narrow .module-heading{
  border-top:none;
  background-color: #fff;
  border-bottom: 1px solid #000;
  padding-left: 0;
  padding-right:10px;
  margin: 0;
}

.module-narrow .module-content{
  padding-left: 0px;
  padding: 10px 10px 10px 0px;
}

/*media grid*/

.media-grid{
  background: none;
  background-color: #edf7f1;
  border: none;
  margin: 0;
}


/* primer page */

.page-header{
  background-color: none !important;
  border-radius: 0;
  border-bottom: #333 1px solid;
}

.page-header .nav-tabs{
  padding-left: 25px;
}

.page-header .btn{
  margin-right: 14px;
}

.nav-item.active>a:before, .nav-aside li.active a:before {
  background-image: none;
}

.nav-item.active>a, .nav-aside li.active a{
  background-color: #333333;
}

.nav-facet .nav-item.active>a:after{
  right: 13px;
}


.no-nav .page-header{
  -webkit-border-radius: 0px 0px 0 0;
  -moz-border-radius: 0px 0px 0 0;
  border-radius: 0px 0px 0 0;
  background-color: #fff;
  border-bottom: 1px #333 solid;
  }

.span9 .page-header{
  border-bottom: 1px #333 solid;
}

.module-content:first-child{
  background-color: transparent;
  margin-top: 10px;
}


@media (max-width: 767px) {
  .module-content:first-child{
    margin-top: 30px;
  }
}

.nav-tabs{
  border-bottom: 1px solid #fff;
}

.fa{
  line-height: 0 !important;
}

.nav-tabs li{
  border-bottom: 1px #333 solid;
  background-color:  #edf7f1;
  height:35px;
}


.nav-tabs li:hover{
  border-radius: 0;
}

.nav-tabs a:hover{
  border-radius: 0;
}

.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
  color: #333;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 0;
  border-bottom-color: transparent;
  cursor: default;
  height: 15px;
  padding-top: 10px;
}

.page-header .nav-tabs>li>a{
  line-height: 17px;
}

.stages li:before{
  background-color: #cdcdcd;
}
.stages li.active .highlight{
  background: #00e09b;
}

.stages li.active:before{
  color: #00e09b;
}
.stages li.active:after{
  border-top-color: #00e09b;
  border-bottom-color: #00e09b;
}

.stages li.complete .highlight{
  background: #d0eddd;
  color: #ffffff;
}

.stages li.complete:before{
  color: #d0eddd;
  background: #ffffff;
}
.stages li.complete:after{
  border-top-color: #d0eddd;
  border-bottom-color: #d0eddd;
}

.error-block{
  background: #f46464;
}

.control-group.error .control-label, .control-group.error .help-block, .control-group.error .help-inline{
  color: #f46464;
}

.control-group.error input, .control-group.error select, .control-group.error textarea, .control-group.error .input-prepend .add-on, .control-group.error .input-append .add-on{
  border-color: #f9bdbd;
  background-color: #ffe6e6;
}

.control-group.error .checkbox, .control-group.error .radio, .control-group.error input, .control-group.error select, .control-group.error textarea, .control-group.error .input-prepend .add-on, .control-group.error .input-append .add-on{
  color: #f46464;
  text-shadow: none;
}

.error-inline{
  color: #720404;
}

.editor .editor-info-block a{
  color: #077a48;
}

.empty{
  color: #cdcdcd;
  font-style: normal;
  font-size: 14px;
}



/* =====================================================
   The "account masthead" bar across the top of the site
   ===================================================== */


/* The "bubble" containing the number of new notifications. */
.account-masthead .account .notifications a span {
  background-color: #cccccc;
}
/* The text and icons in the user account info. */

.account-masthead .account ul li a {
  color: #fff;
  background: transparent;
  text-shadow: none;
  font-weight: normal;
  line-height: 21px;
  border-left: none;
}

.account-masthead .account ul li{
  display: block;
  float: left;
  border-left: #cdcdcd solid 1px;
}

/* The user account info text and icons, when the user's pointer is hovering
   over them. */
.account-masthead .account ul li a:hover {
  color: #fff;
  background-color: #333;
}


/* ========================================================================
   The main masthead bar that contains the site logo, nav links, and search
   ======================================================================== */

.masthead {
  color:  #000;
  background-color: #fff;
}
/* The "navigation pills" in the masthead (the links to Datasets,
   Organizations, etc) when the user's pointer hovers over them. */

.masthead .navigation .nav-pills li a {
  border-radius: 0;
  color: #000;
}

.masthead .navigation .nav-pills li a:after {
  content: '';
  display: block;
  width: 0px;
  margin-top: 6px;
  height: 3px;
  background-color: #00e09b;
  -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.02);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.02);
  -webkit-transition-property: width, color;
  transition-property: width, color;
}

.masthead .navigation .nav-pills li a:hover:after {
  width: 100%;
}



/* The "active" navigation pill (for example, when you're on the /dataset page
   the "Datasets" link is active). */
.masthead .navigation .nav-pills li.active a:after {
  width: 100%;
  margin-top: 6px;
  height: 3px;
  background-color: #00e09b;
  border-radius: 0;
}

.masthead .navigation .nav-pills li a:hover, .masthead .navigation .nav-pills li.active a {
  background-color: #fff;
}


.nav-pills>li>a{
  border-radius: 0;
}

.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus{
  box-shadow: none;
}

.nav-tabs>li>a, .nav-pills>li>a{
  line-height: 7px;
}

.search-form .search-input.search-giant input{
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border:none;
  transition: all 0.2s cubic-bezier(.25,.8,.25,1);
}

.search-form .search-input.search-giant:hover input{
box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.search-form .search-input.search-giant button{
  height: 34px;
  margin-top: -12px;
}

.search-form .search-input{
  margin-bottom: 25px;
}

.pill{
  background-color: #333;
}

@media (max-width: 979px) {
  .masthead .site-search {
    display: inherit;
  }
  .masthead .site-search input {
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
  }
}

@media (max-width: 767px) {
  .nav-pills>li>a{
    border-radius: 0;
  }
}

/* masthead input for search */

.masthead .site-search input{
  width: 30px;
  padding: 10px 15px;
  color: #000;
  margin: -7px -10px 0 0;
  padding-bottom: 4px;
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.02);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.02);
}

.masthead .site-search input:hover{
  width: 200px;
}


.masthead input[type="text"]{
  border: 0px;
  border-radius: 50px;
  box-shadow: none;
  background: #ededed;
}

.simple-input .field .btn-search{
  top:40%;
}

.masthead .nav-collapse{
  padding-top:5px;
}


@media (max-width: 979px) {
  .masthead .nav-collapse{
    padding-top:10px;
    padding-bottom:10px;
  }
  .masthead .site-search input{
    padding: 20px 15px;
  }
  .masthead input[type="text"]{
    width: 100%;
    border-radius: 4px;
    margin: 20px 0;
  }
  .simple-input .field .btn-search{
    top:50%;
  }
  .masthead .site-search input:hover{
    width: 100%;
  }
}

/* ====================================
   The footer at the bottom of the site
   ==================================== */

.site-footer{
  background-color: #000000;
  background-image: none;
  padding: 80px 0px 60px 0px;
}

@media (max-width: 767px) {
  .site-footer{
    padding: 60px 20px;
    margin: 0 -40px -0px -20px;
  }
}

/* The text in the footer. */
.site-footer,
.site-footer label,
.site-footer small {
  color: rgba(255, 255, 255, 1);
}

/* The link texts in the footer. */

.footer-logo{
  background: url("../images/logo_eng_horizontal_w.svg") no-repeat scroll;
  height: 50px;
  width: 30%;
  padding: 0px 0px 10px 0px;
}

@media (max-width: 767px) {
  .footer-logo{
    width: 50%;
  }
}

.site-footer a {
  color: rgba(255, 255, 255, 1);
  transition: 0.1s;
}

.site-footer a:hover {
  color: #00e09b;
}

/* Additional info - used on both dataset and resource page */
.additional-info th {
  width: 15%;
}

.additional-info td, .additional-info th {
  border-top: none;
}

a.external:after {
  content: "\f08e";
  font-family: FontAwesome;
  font-weight: lighter;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-size: 10px;
  line-height: 10px;
  position: relative;
  top: -3px;
  left: 3px;
  margin-right: 5px;
}

a.external:after:hover {
  text-decoration: none;
}

div .module-heading > .search-form.no-bottom-border {
  padding-bottom: 0;
}

/* ==========
   About page
   ========== */

.about-img {
  width: 400px;
  float: right;
  padding: 10px;
}

/* ==========
   index page
   ========== */

    /* CUSTOMIZE BACKGROUND & TEXT
    -------------------------------------------------- */


    .bg_primary{
      background-color: #00e09b;
    }

    .bg_primary_lt{
      background-color: #edf7f1;
    }

    .bg_dark{
      background-color: #000;
    }

    .bg_white{
      background-color: #ffffff;
    }

    .bg_proto{
    background-color: #012819;
    }

    @media (max-width: 979px) {
    .bg_proto{
      margin-left: -116px !important;
      margin-top: -10px ;
      }
    }

    .tx_white{
      color: white;
    }

    .tx_light{
      opacity: 0.85;
      width: 80%;
    }

    .tx_black{
      color: #000;
    }
    .tx_dark{
      color: #333;
    }

    .padding_l_15{
      padding-left: 15px;
    }
    .padding_tb{
      padding-top: 120px;
      padding-bottom: 120px;
    }

    .padding_tb_md{
      padding-top: 85px;
      padding-bottom: 80px;
    }

    .padding_tb_sm{
      padding-top: 55px;
      padding-bottom: 50px;
    }

    @media only screen and (max-width: 978px) and (min-width: 767px) {
      .padding_tb_sm{
        padding-top: 25px;
        padding-bottom: 20px;
      }
      .padding_tb_md{
        padding-top: 25px;
        padding-bottom: 20px;
      }
    }
    @media (max-width: 767px) {
      .padding_tb_sm{
       padding-top: 10px;
       padding-bottom: 10px;
      }
      .padding_tb_md{
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }

    .padding_tb_mini{
      padding: 15px 0;
    }

    .padding_lr_sm{
      padding-right: 85px  !important;
      padding-left: 85px  !important;
    }
    .padding_lr_mini{
      padding-right: 25px  !important;
      padding-left: 25px  !important;
    }
    .padding_mini{
      padding: 30px;
    }

    .no_padding{
      padding: 0 !important;
    }

    .mb-3{
      margin-bottom:30px;
    }

    .mt-3{
      margin-top:30px;
    }
    .mb-2{
      margin-bottom:20px;
    }
    .mt-1{
      margin-top:10px;
    }
    .mt-2{
      margin-top:20px;
    }
    .mb-1{
      margin-bottom:10px;
    }
    .pt-1{
      padding-top:10px;
    }
    .pt-3{
      padding-top:30px;
    }
    .pl-0{
      padding-left:0px !important;
    }

    @media (max-width: 767px) {
      .pl-0{
        padding-left: auto;
      }
      .pl-0-s{
        padding-left: 0 !important;
      }
    }

    .px-2{
      padding-left:20px;
      padding-right:20px;
    }
    .py-2{
      padding-top:20px;
      padding-bottom:20px;
    }

    .px-0{
      padding-left:0px !important;
      padding-right:0px !important;
    }

    .h-100{
      height:100%;
    }

    .no-gutters{
      margin-right: 0;
      margin-left: 0;
    }


     @media (max-width: 767px) {
       .width_full{
         width: auto;
         margin-left: 0px -20px 0px 0px;
       }
       .padding_exceed{
         margin-left: -20px;
         margin-right: -40px;
       }
     }

     @media only screen and (max-width: 978px) and (min-width: 767px) {
       .width_full{
         margin-left: calc(-100vw / 2 + 728px / 2);
         margin-right: calc(-99vw / 2 + 731px / 2);
         padding-left: calc((100vw - 728px) / 2);
         padding-right: calc((100vw - 728px) / 2);
       }
     }

     @media only screen and (max-width: 1200px) and (min-width: 979px) {
       .width_full{
        margin-left: calc(-100vw / 2 + 940px / 2);
        margin-right: calc(-99vw / 2 + 944px / 2);
        padding-left: calc((100vw - 940px) / 2);
        padding-right: calc((100vw - 940px) / 2);
       }
     }

     @media (min-width: 1200px) {
       .width_full{
         margin-left: calc(-100vw / 2 + 940px / 2);
         margin-right: calc(-99vw / 2 + 942px / 2);
         padding-left: calc((100vw - 940px) / 2);
         padding-right: calc((100vw - 940px) / 2);
       }
     }

    .img_example{
      background-color: #333;
      position: relative;
      width: 100%;
    }

    @media (max-width: 767px) {
      .img_example{
      }
    }
    .w-100{
      width: 100%;
    }

    /* CUSTOMIZE BUTTON
    -------------------------------------------------- */


    .btn, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled]{
      background: none;
      box-shadow: none;
      color: #333;
      border: solid 2px #cdcdcd !important;
      text-shadow: none;
      padding: 5px 10px;
      text-decoration: none;
    }

    .btn-primary.question {
      background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
      border: 0 none !important;
      color: white !important;
    }

    .btn-primary.question:hover, .btn-primary.question.question:focus{
      background-color: none !important; 
      background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
      border: 0 none !important;
      padding:none  !important;
    }

    .btn-primary .caret{
      border-top-color: #cdcdcd;
      border-bottom-color: #cdcdcd;
    }

    .btn:hover, .btn:focus{
      background: none;
      background-color:#00e09b;
      box-shadow: none;
      color: black;
      text-shadow: none;
      border: solid 2px #00e09b  !important;
      text-decoration: none;
      transition: 0.2s;
    }


    .btn_norm{
      border: 0;
      background: none;
      box-shadow: none;
      color: black;
      border: solid 1px #000000 !important;
      text-shadow: none;
      padding: 8px 22px;
      text-decoration: none;
      border-radius:4px;
    }
    .btn_norm:hover, .btn_norm:focus{
      border: 0;
      background: none;
      background-color:#00e09b;
      box-shadow: none;
      color: white;
      text-shadow: none;
      border: solid 1px #00e09b  !important;
      text-decoration: none;
      transition: 0.2s;
    }

    .btn_float{
      border: 0;
      background: none;
      background-color: none;
      color: #00e09b !important;
      border: solid 2px #00e09b  !important;
      border-radius: 4px;
      text-shadow: none;
      padding: 12px 22px;
    }
    .btn_float:hover, .btn_float:focus{
      border: 0;
      background: none;
      background-color:#fff;
      box-shadow: none;
      color: #000;
      text-shadow: none;
      border: solid 2px #fff  !important;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      text-decoration: none;
      transition: 0.15s cubic-bezier(0.175, 0.885, 0.32, 1.02);;
    }

    .btn_search{
      margin-top: 12px;
      border: 0;
      background: none;
      background-color:#333;
      box-shadow: none;
      color: white;
      text-shadow: none;
      border-radius: 30px;
      padding: 12px 15px;
      border: none  !important;
      font-size: 16px;
      transition: 0.2s;
    }
    @media (max-width: 767px) {
      .btn_search{
      margin-top:5px;
      }
    }

    .btn_search:hover, .btn_search:focus{
      background-color:#00e09b;
    }


    /* MASTHEAD ANIMATION
    -------------------------------------------------- */
    .landing_ani{
      position: relative;
      height: 200px;
      width: 350px;
      right: 0;
      z-index: 1500 !important;
    }


    /* Featurettes
    ------------------------- */

    .mast_heading{
      padding: 150px 0; /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden;
    }

    @media (min-width: 767px) and (max-width: 978 px) {
      .mast_heading{
        padding: 100px 0;
      }
    }

    @media (max-width: 767px) {
      .masthead_main{
        height: 250px;
      }
      .mast_heading{
        padding: 75px 0;
      }
    }

    .featurette-divider {
      margin: 80px 0; /* Space out the Bootstrap <hr> more */
    }
    .featurette {
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    .featurette-image {
      margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    }

    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }

    .featurette-heading {
      font-size: 35px;
      font-weight: 700;
      line-height: 1.45;
      display: inline;
      padding-bottom: 6px;
    }

    .featurette-heading a {
      text-decoration: none;
      color: #000;
    }

    .index_topics input[type="text"]{
      border: 0px;
      border-bottom: 2px solid #cdcdcd;
      border-radius: 0px;
      box-shadow: none;
      font-size: 16px;
      color: #000;
      padding-top: 20px;
      background-color: transparent;
    }
    @media (max-width: 767px) {
    .index_topics input[type="text"]{
      width:120px;
      padding-top:10px;
    }
    }

    .index_topics input[type="text"]:focus{
      border-bottom: 2px solid #00e09b;
    }

    .index_topics .site-search {
      margin: 0;
    }

    .js .modify_bloc_1{
      height: 420px;
      background: #012819;
      overflow: hidden;
      background-image: linear-gradient(to right, #00e09b -30%, #012819 40%, #012819 95%, #00e09b 130%) ;
    }

    .modify_bloc_1{
      height: 420px;
      background: #012819;
      overflow: hidden;
      background-image: url("../images/visual-md.png");
      background-repeat:no-repeat;
      background-position: 70% 45%;
      background-size: auto 65% ;
    }

    .m1_bloc_1{
      display: block;
      float: left;
      width: 400px;
    }

    .js .m1_bloc_2{
      display: block;
      float: left;
      width: 132px;
      height: 169px;
      margin-top: -41px;
      background-image: url("../images/logo_ani.svg");
      background-repeat: no-repeat;
    }

    .m1_bloc_2{
      display: none;
    }

    .m1_bloc_3{
      display: block;
      float: left;
      width: auto;
      margin-top: -81px;
      padding-left: 1px;
    }

    @media (max-width: 979px) {
      .js .modify_bloc_1{
        background-image: url("../images/visual-md.png");
        background-repeat:no-repeat;
        background-position: 90% 40%;
        background-size: 55% auto;
      }
    }

    @media (max-width: 767px) {
      .js .modify_bloc_1{
        background-blend-mode: overlay;
        background-position: 50% 50%;
        background-size: 90% auto;
        height: 250px;
      }
      .js .m1_bloc_1{
        padding-left: 15px;
      }
    }

    .row-fluid .padding_tb_sm .bg_white .justify-content-center .modify_bloc_2{
      background-color: white;
    }

    .modify_bloc_2{
      background-color: #edf7f1;
    }

    .modify_bloc_3{
      border-top: #ececec 10px solid;
      background-color: #ffffff;
      padding-bottom: 25px;
    }

    .modify_bloc_3 .tx_black{
      width: 100%;
      font-size: 13px;
      line-height: 1.5em;
    }

    :lang(zh_TW) .modify_bloc_3 .tx_black{
      font-size: 16px;
    }

    .img-circle{
      border: 5px #012819 solid;
      background: #012819;
    }

    .img-circle:hover{
      -ms-transform: scale(1.08); /* IE 9 */
      -webkit-transform: scale(1.08); /* Safari */
      transform: scale(1.08);
      transition: 0.13s;
    }

    .modify_bloc_4{
      background:#ffffff;
      background-image: url("../images/visual-bg.jpg");
      background-position: top;
      background-repeat: no-repeat;
      background-size: 100% auto;
      border-top: #ececec 10px solid;
    }

    .modify_bloc_5{
      border-top: #ececec 10px solid;
      padding-bottom: 55px;
    }
    .modify_bloc_5 a{
      text-decoration: none;
      border-bottom: 2px solid #00e09b;
      color: #000;
    }
    .modify_bloc_5 a:hover{
      color: #00e09b;
      transition: 0.1s;
    }

    @media only screen and (max-width: 978px) and (min-width: 767px){
      .modify_bloc_1{
        height: 400px;
      }
    }

    @media only screen and (max-width: 767px){
      .modify_bloc_1{
        height: 250px;
      }
    }

    @media (max-width: 979px) {
      .modify_bloc_4_sub{
        margin-left: -20px;
      }
      .modify_bloc_4, .modify_bloc_5{
        padding-bottom: 25px;
      }
    }

    .index_padding{
      padding-left:20px;
    }

    .shadow{
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }

    @media (max-width: 979px){
      .shadow{
          box-shadow: none;
      }
    }

    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
      }

      .carousel .item {
        height: 500px;
      }
      .carousel img {
        width: auto;
        height: 500px;
      }

      .featurette {
        height: auto;
        padding: 0;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
      }
    }

    @media (max-width: 979px) {
      .masthead .btn-navbar, .masthead .btn-navbar:hover{
        background-color: #fff;
        margin-top: 0px;
        color: #000;
        font-size: 25px;
        border: none !important
      }

      .navbar-inner {
        margin: -20px;
      }

      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .item {
        height: 300px;
      }
      .carousel img {
        height: 300px;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }

      .marketing .span4 + .span4 {
        margin-top: 40px;
      }

      .featurette-heading {
        font-size: 30px;
      }
      .featurette .lead {
        font-size: 18px;
        line-height: 1.5;
      }
    }

/* ==========================================
Bootstrap 4 grid ============================ */

.container-bs4 {
   width: 100%;
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
}

.row-bs4 {
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   margin-right: -15px;
   margin-left: -15px;
 }

 @media (max-width: 979px) {
   .row-bs4 {
     margin-right:0;
   }
 }

 @media (max-width: 768px) {
  .row-bs4 {
    padding: 15px 15px;
  }
}
 @media (min-width: 768px) {
   .row-bs4 {
     padding: 15px 20px;
   }
 }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}


@media (min-width: 576px) {

  .col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-md-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-md-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-md-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 979px) {
  .col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-lg-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-lg-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-lg-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-lg-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-lg-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}


.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.align-self-center {
  -ms-flex-item-align: center !important;
  align-self: center !important;
}

.hidden-xs-up {
  display: none !important;
}

@media (max-width: 575px) {
  .hidden-xs-down {
    display: none !important;
  }
}

@media (min-width: 576px) {
  .hidden-sm-up {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hidden-sm-down {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .hidden-md-up {
    display: none !important;
  }
}

@media (max-width: 978px) {
  .hidden-md-down {
    display: none !important;
  }
}

@media (min-width: 979px) {
  .hidden-lg-up {
    display: none !important;
  }
}

@media (max-width: 1199px) {
  .hidden-lg-down {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .hidden-xl-up {
    display: none !important;
  }
}

.hidden-xl-down {
  display: none !important;
}


/*INTRO JS*/
.introjs-button{
  background: none;
  border-color: #00e09b;
  color: black !important;
  text-shadow:none;
}
.introjs-button:hover{
  background: #00e09b;
  border-color: #00e09b;
  box-shadow: none;
}

.introjs-button:focus{
  background: none;
  border-color: #00e09b;
  box-shadow: none;
}


.introjs-button:active{
  background: #cdcdcd;
  border-color: #00e09b;
  box-shadow: none;
}

.introjs-nextbutton:hover{
  background: #00e09b;
  border-color: #00e09b;
  color: black !important;
  text-shadow:none;
}

.label[data-format=html], .label[data-format*=html]{
  background-color: #f9bdbd;
}

/*HOVER CONTENT*/
.example-bg-1{
  background: #d0eddd;
}

.example-bg-1-bg{
  background: linear-gradient(to right, #00e09b, #077a48);
}

.example-bg-2{
  background: #f9bdbd;
}

.example-bg-2-bg{
  background: linear-gradient(to right, #f46464, #720404);
}

.example-bg-3{
  background: #e4d2f9;
}

.example-bg-3-bg{
  background: linear-gradient(to right, #a587dd, #1d013d);
}

.hover-content, .hover-content-s {
  visibility: hidden;
  position: absolute;
  z-index: -200;
  left:0;
  right: 0;
  bottom: 0;
  top: 0;

  overflow: hidden;
  opacity: 90%;
}

.hover-content {
  height:550px;
  margin: 0 15px;
}

.hover-content-s {
  height:265px;
  margin: 0;
}

.hover-toggle, .hover-toggle-s{
  overflow: hidden;
  position: relative;
}


.hover-toggle{
  height:550px;
}

.hover-toggle-s{
  height:265px;
}

.content-toggle, .content-toggle-s{
  position: absolute;
  z-index: 200;
  bottom: 0;
  margin-top: 0;
  margin-top:0;
  overflow: hidden;
  opacity: 90%;
  transition: all 0.4s ease-in-out 0s;
}

.content-toggle{
  top:300px;
  left: 15px;
  right: 15px;
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.02);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.02);
  -webkit-transition-property: all;
  transition-property: all;
  border-top: 0px #012819 solid;
}

.content-toggle:hover{
  border-top: 4px #012819 solid;
}


.content-toggle-s{
  top:130px;
  left: 0px;
  right: 0px;
}

.content-toggle .desc{
  width: 80%;
}

.hover-toggle:hover .content-toggle, .hover-toggle-s:hover .content-toggle-s{
  top: 0;
}

.opacity{
  opacity: 0;
}

.hover-toggle:hover .opacity, .hover-toggle-s:hover .opacity{
  opacity: 1;
  transition: all 0.4s ease-in-out 0s;
}

@media (max-width: 767px) {
  .property-767{
    margin-bottom: 20px;
    padding-right:0;
    flex: auto;
  }
  .content-toggle{
    right: auto;
  }
  .hover-toggle-s{
    left:15px;
  }
  .property-767-s{
    margin-left: auto;
    margin-right: auto;
    padding-right: auto;
  }
  .content-toggle .desc{
    width: 100%;
  }
}

@media (max-width: 370px) {
  .content-toggle{
    top:130px;
  }
  .content-toggle h1{
    font-size:21px;
  }
  .content-toggle h3{
    font-size:16px;
  }
  .content-toggle .mt-3{
    margin-top: 20px;
  }
  .content-toggle .mb-2{
    margin-bottom: 10px;
  }
  .hover-toggle{
    height:350px;
  }
}
