
/* primer page */

.page-header{
  background-color: none !important;
  border-radius: 0;
  border-bottom: #333 1px solid;
}

.page-header .nav-tabs{
  padding-left: 25px;
}

.page-header .btn{
  margin-right: 14px;
}

.nav-item.active>a:before, .nav-aside li.active a:before {
  background-image: none;
}

.nav-item.active>a, .nav-aside li.active a{
  background-color: #333333;
}

.nav-facet .nav-item.active>a:after{
  right: 13px;
}


.no-nav .page-header{
  -webkit-border-radius: 0px 0px 0 0;
  -moz-border-radius: 0px 0px 0 0;
  border-radius: 0px 0px 0 0;
  background-color: #fff;
  border-bottom: 1px #333 solid;
  }

.span9 .page-header{
  border-bottom: 1px #333 solid;
}

.nav-tabs{
  border-bottom: 1px solid #fff;
}

.fa{
  line-height: 0 !important;
}

.nav-tabs li{
  border-bottom: 1px #333 solid;
  background-color:  #edf7f1;
  height:35px;
}


.nav-tabs li:hover{
  border-radius: 0;
}

.nav-tabs a:hover{
  border-radius: 0;
}

.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
  color: #333;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 0;
  border-bottom-color: transparent;
  cursor: default;
  height: 15px;
  padding-top: 10px;
}

.page-header .nav-tabs>li>a{
  line-height: 17px;
}

.stages li:before{
  background-color: #cdcdcd;
}
.stages li.active .highlight{
  background: #00e09b;
}

.stages li.active:before{
  color: #00e09b;
}
.stages li.active:after{
  border-top-color: #00e09b;
  border-bottom-color: #00e09b;
}

.stages li.complete .highlight{
  background: #d0eddd;
  color: #ffffff;
}

.stages li.complete:before{
  color: #d0eddd;
  background: #ffffff;
}
.stages li.complete:after{
  border-top-color: #d0eddd;
  border-bottom-color: #d0eddd;
}

.error-block{
  background: #f46464;
}

.error-inline{
  color: #720404;
}

.editor .editor-info-block a{
  color: #077a48;
}

.empty{
  color: #cdcdcd;
  font-style: normal;
  font-size: 14px;
}

.nav-pills>li>a{
  border-radius: 0;
}

.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus{
  box-shadow: none;
}

.nav-tabs>li>a, .nav-pills>li>a{
  line-height: 7px;
}

.pill{
  background-color: #333;
}

@media (max-width: 767px) {
  .nav-pills>li>a{
    border-radius: 0;
  }
}



