body {
  line-height: 30px;
  font-size: 16px;
  background-color: #000;
  color: #000;
  font-family: "Noto Sans TC", arial, "Microsoft JhengHei", sans-serif;
}
@media (max-width: 767px) {
  body {
    background: none;
  }
}
h1,
h2,
h3 {
  line-height: 2.2rem;
}
a {
  color: #077a48;
}
a.external::after {
  content: "\f08e";
  font-family: FontAwesome;
  font-size: 10px;
  line-height: 10px;
  position: relative;
  top: -3px;
  left: 3px;
  margin-right: 5px;
}
::selection {
  background: #00e09b;
  color: #fff;
}
li {
  line-height: 30px;
}
.empty {
  color: #cdcdcd;
  font-style: normal;
  font-size: 14px;
}
.embedded-content p {
  word-wrap: break-word;
}
.tag {
  border: 1px solid #cdcdcd !important;
}
a.tag:hover {
  color: #000;
  background-color: #00e09b;
  border-color: #00e09b !important;
  box-shadow: none;
  transition: 0.2s;
}
.module-content {
  padding: 0 0;
}
.module-content:first-child {
  background-color: transparent;
}
.module-content a {
  color: #000;
  text-decoration: none;
  border-bottom: 2px solid #00e09b;
}
@media (min-width: 979px) {
  .module-heading {
    padding: 30px 0;
  }
}
.module-narrow .module-heading,
.module-narrow .module-footer {
  padding-left: 0;
  padding-right: 0;
}
.module-narrow .module-heading {
  font-size: 16px;
  background-color: #fff;
  border-top: none;
  border-bottom-color: #000;
  margin: 0;
}
.module-narrow .module-content {
  padding: 10px 10px 10px 0;
}
.module-narrow .ui-rangeSlider {
  padding-top: 10px;
  padding-bottom: 7px;
}
.dataset-map-expanded #dataset-map {
  padding-left: calc(100vw / 2 - 940px / 2);
  padding-right: calc(99vw / 2 - 940px / 2);
  padding-top: 25px !important;
  padding-bottom: 25px !important;
  margin-left: calc(-100vw / 2 + 940px / 2) !important;
  margin-right: calc(-99vw / 2 + 940px / 2) !important;
  width: 100% !important;
  height: 414px !important;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  transition: all 0.3s;
}
.media-item a {
  border-bottom: 1px solid #ddd;
}
.media-grid {
  background-color: #edf7f1;
  border: none;
  margin: 0;
}
.nav-item.active > a,
.nav-aside li.active a {
  background-color: #333;
}
@media (min-width: 768px) {
  .nav-item.active > a::before,
  .nav-aside li.active a::before {
    background-image: none;
  }
}
.nav-facet .nav-item > a:hover::after,
.nav-facet .nav-item.active > a::after {
  right: 13px;
}
.account-masthead {
  background: #000;
  padding-top: 5px;
}
.account-masthead .account ul li {
  border-left: solid 1px #cccccc;
}
.account-masthead .account ul li a {
  color: #fff;
  font-weight: normal;
  line-height: 21px;
}
.account-masthead .account ul li a:hover {
  color: #fff;
  background-color: #333333;
}
.masthead {
  background-color: #fff;
  background-image: none;
}
.masthead .nav-collapse {
  padding-top: 5px;
}
.masthead .logo img {
  width: 185px;
  padding-left: 5px;
}
.masthead .navigation .nav-pills li a {
  border-radius: 0;
  line-height: 7px;
}
.masthead .navigation .nav-pills li a::after {
  content: '';
  display: block;
  width: 0;
  margin-top: 6px;
  height: 3px;
  background-color: #00e09b;
  -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.02);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.02);
  -webkit-transition-property: width, color;
  transition-property: width, color;
}
.masthead .navigation .nav-pills li a:hover {
  background-color: #fff;
}
.masthead .navigation .nav-pills li a:hover::after {
  width: 100%;
}
.masthead .navigation .nav-pills li.active a {
  background-color: #fff;
}
.masthead .navigation .nav-pills li.active a::after {
  width: 100%;
  margin-top: 6px;
  height: 3px;
  background-color: #00e09b;
  border-radius: 0;
}
.masthead .nav > li > a,
.masthead .nav > li > a:focus,
.masthead .nav > li > a:hover,
.masthead .nav > .active > a,
.masthead .nav > .active > a:hover,
.masthead .nav > .active > a:focus {
  color: #000;
  border-bottom: none;
  font-size: 15px;
}
.masthead .btn-navbar,
.masthead .btn-navbar:hover,
.masthead .btn-navbar:focus {
  background-color: #fff;
  margin-top: 0;
  color: #000;
  font-size: 25px;
  border: none !important;
  outline: unset;
}
.masthead .site-search input {
  color: #000;
  background: #ededed;
  width: 30px;
  padding: 10px 15px;
  margin: -7px -10px 0 0;
  padding-bottom: 4px;
  border: 0;
  border-radius: 50px;
  box-shadow: none;
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.02);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.02);
}
.masthead .site-search input:hover {
  width: 200px;
}
@media (max-width: 979px) {
  .masthead .nav-collapse {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .masthead .nav-collapse .nav > li {
    font-size: 25px;
    margin-top: 20px;
  }
  .masthead .site-search {
    display: inherit;
  }
  .masthead .site-search input {
    padding: 20px 10px;
    width: 100%;
    border-radius: 4px;
    margin: 20px 0;
  }
  .masthead .site-search input:hover {
    width: 100%;
  }
}
.toolbar {
  background-color: #333;
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}
.toolbar .breadcrumb a,
.toolbar .breadcrumb li {
  color: #fff;
  font-size: 12pt;
  text-shadow: none;
}
@media (max-width: 767px) {
  .toolbar {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.page-header {
  border-bottom-color: #333;
}
.page-header .nav-tabs {
  border-bottom-color: #fff;
}
.page-header .nav-tabs > li {
  border-bottom: 1px #333 solid;
  background-color: #edf7f1;
}
.page-header .nav-tabs > li > a {
  margin-right: 0;
}
.page-header .nav-tabs > li > a:hover {
  border-radius: 0;
}
.page-header .nav-tabs > li.active > a,
.page-header .nav-tabs > li.active > a:hover,
.page-header .nav-tabs > li.active > a:focus {
  color: #333;
  border-color: #333;
  border-radius: 0;
  border-bottom-color: transparent;
}
.page-header .btn {
  margin-right: 14px;
}
.no-nav .page-header {
  background-color: #fff;
}
@media (min-width: 768px) {
  .span9 .page-header {
    margin-left: 0;
  }
}
.site-footer {
  background: #000;
  padding-top: 5px;
  padding: 80px 0 60px 0;
}
.site-footer .account ul li {
  border-left: solid 1px #cccccc;
}
.site-footer .account ul li a {
  color: #fff;
  font-weight: normal;
  line-height: 21px;
}
.site-footer .account ul li a:hover {
  color: #fff;
  background-color: #333333;
}
@media (max-width: 767px) {
  .site-footer {
    padding: 60px 20px;
    margin-left: -20px;
    margin-right: -20px;
  }
}
.site-footer,
.site-footer label,
.site-footer small {
  color: #ffffff;
}
.site-footer a {
  color: #ffffff;
  text-decoration: none;
  transition: 0.1s;
}
.site-footer a:hover {
  color: #00e09b;
}
.footer-logo {
  background: url("../../images/logo_eng_horizontal_w.svg") no-repeat scroll;
  height: 50px;
  width: 30%;
  padding-bottom: 10px;
}
@media (max-width: 767px) {
  .footer-logo {
    width: 50%;
  }
}
.form-horizontal .control-label {
  width: 140px;
}
.form-horizontal .control-label::after {
  content: "";
}
.control-group.error .help-block,
.control-group.error .help-inline {
  color: #f46464;
}
.control-group.error input,
.control-group.error select,
.control-group.error textarea,
.control-group.error .input-prepend .add-on,
.control-group.error .input-append .add-on {
  color: #f46464;
  border-color: #f9bdbd;
  background-color: #ffe6e6;
}
.control-group.error .control-label,
.control-group.error .checkbox,
.control-group.error .radio {
  color: #f46464;
  text-shadow: none;
}
.error-inline {
  color: #720404;
}
.error-block {
  background: #f46464;
}
.control-required {
  color: #a587dd;
}
.control-required::before {
  content: " ";
}
@media (min-width: 768px) {
  .form-horizontal .controls {
    margin-left: 150px;
  }
}
.form-actions {
  margin-left: -19px;
}
.form-messages::after {
  clear: left;
  display: table;
  content: "";
}
.form-messages .control-required-message {
  float: left;
  margin-left: 20px;
  margin-bottom: 0;
  line-height: 30px;
}
.form-messages .control-required-message:first-child {
  margin-left: 0;
}
@media (min-width: 980px) {
  .simple-input .field .btn-search {
    top: 40%;
  }
}
.editor .editor-info-block a {
  color: #077a48;
}
.stages {
  margin-left: -15px;
}
.stages li::before {
  background-color: #cdcdcd;
}
.stages li.active::before {
  color: #00e09b;
}
.stages li.active::after {
  border-top-color: #00e09b;
  border-bottom-color: #00e09b;
}
.stages li.active .highlight {
  background-color: #00e09b;
}
.stages li.complete::before {
  color: #d0eddd;
  background: #fff;
}
.stages li.complete::after {
  border-top-color: #d0eddd;
  border-bottom-color: #d0eddd;
}
.stages li.complete .highlight {
  background: #d0eddd;
  color: #fff;
}
#map {
  height: 400px;
}
#map input {
  width: auto;
  top: auto;
}
#map label::after {
  content: none;
}
#map a {
  color: unset;
  border-bottom: unset;
}
.dataset-heading {
  font-size: 21px;
}
.dataset-heading a {
  border-bottom: none;
}
.dataset-resources li a {
  background-color: #d7e82d;
  border-bottom: none;
}
.additional-info th {
  width: 15%;
}
.label[data-format=html],
.label[data-format*=html] {
  background-color: #f9bdbd;
}
.search-form .search-input.search-giant input {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border: none;
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.search-form .search-input.search-giant:hover input {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.search-form .search-input.search-giant button {
  margin-top: -15px;
}
.search-form .filter-list .pill {
  background-color: #333;
}
.dataset-search {
  padding-top: 20px;
  background-color: #edf7f1;
  border-bottom: 1px solid #999;
}
.dataset-search .search-form {
  padding-bottom: 0;
  border-bottom: none;
}
@media (max-width: 767px) {
  .dataset-search {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.wrapper {
  margin-top: 25px;
  border: none;
  box-shadow: none;
}
@media (min-width: 768px) {
  .wrapper {
    background-image: url("../../images/wrapper-bg.jpg");
    background-position: 175px 10px;
  }
}
@media (max-width: 768px) {
  .wrapper {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
@media (min-width: 980px) {
  .wrapper {
    background-position: 230px 10px;
  }
}
[role=main],
.main {
  background: #fff;
  padding-top: 0;
  padding-bottom: 0;
}
.context-info .image a {
  border-bottom: none;
}
.span3 {
  width: 210px;
}
@media (min-width: 768px) and (max-width: 979px) {
  .span3 {
    width: 166px;
  }
}
@media (max-width: 767px) {
  .span3 {
    width: unset;
  }
}
.btn {
  padding: 5px 10px;
  background: none;
  border: 2px solid #cdcdcd !important;
  border-bottom-color: #cdcdcd;
  box-shadow: none;
  text-shadow: none;
  color: #333;
  text-decoration: none;
}
.btn:hover,
.btn:focus {
  color: black;
  background-color: #00e09b;
  transition: 0.2s;
  border: 2px solid #00e09b !important;
}
.btn.question {
  background: unset;
  border: 0 !important;
  color: unset;
}
.btn .caret {
  border-top-color: #cdcdcd;
}
.btn-group.open .btn-primary.dropdown-toggle {
  background-color: #00e09b;
}
.navbar-static-top {
  padding-top: 20px;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  box-shadow: none;
}
.about-img {
  width: 400px;
  float: right;
  padding: 10px;
}
