{% set action = '{0}_show'.format(type) %}

{% if pages %}
  {% set pages = pages|reverse %}
  <ul class="dataset-list unstyled">
    {% for page in pages %}
      {% if type %}
        {% set url = h.url_for(controller='ckanext.pages.controller:PagesController', action=action, id=id, page='/' + page.name) %}
      {% else %}
        {% set url = h.url_for(controller='ckanext.pages.controller:PagesController', action='pages_show', page='/' + page.name) %}
      {% endif %}
      <li class="dataset-item">
        <h3 class="dataset-heading">
          <a href="{{ url }}" >{{ page.title }}</a>
        </h3>
        {% if page.content %}
          {{ h.markdown_extract(page.content) }}
        {% else %}
          <p class="empty">{{ _('This news currently has no content.') }}</p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p class="empty">{{ _('There are currently no news here.') }}</p>
{% endif %}
