{% ckan_extends %}


{% block footer_links %}
  <div class="footer-logo"></div>
  <li>{{ _('Contact Us') }}{{ ': data.contact at depositar.io' }}</li>
  <li><a href="{{ h.url_for(controller='home', action='about') }}">{{ _('About depositar') }}</a></li>
{% endblock %}

{% block footer_links_ckan %}
  {% set api_url = 'http://docs.ckan.org/en/{0}/api/'.format(g.ckan_doc_version) %}
  {% set doc_url = 'https://docs.depositar.io/{0}/{1}/'.format(h.lang(), h.get_pkg_version()) %}
  <li><a href="{{ api_url }}" class="external" target="_blank">{{ _('CKAN API') }}</a> | <a href="/stats">{{_('Site Statistics') }}</a> | <a href="https://status.depositar.io" class="external" target="_blank">{{ _('Site Status') }}</a> | <a href="{{ doc_url }}" class="external" target="_blank">{{ _('Help') }}</a></li>
  <li>{% link_for _('Terms of Service'), named_route='terms_of_service' %} | {% link_for _('Privacy Policy'), named_route='privacy' %}</li>
{% endblock %}

{% block footer_attribution %}
  {{ super() }}
  {% trans %}<p>Source code available on <a href="https://github.com/depositar/" class="external" target="_blank">GitHub.</a></p>{% endtrans %}
  <p><b>Visual Design & UI by </b><br><a href="https://dualai.com" class="external" target="_blank">Dualai Studio</a></p>
{% endblock %}

{% block footer_lang %}
{% endblock %}
