{% ckan_extends %}

{% macro language_selector() %}
  {% set current_lang = request.environ.CKAN_LANG %}
  {% if current_lang != "en" %}
    <li>
      <a href="{% url_for h.current_url(), locale='en' %}">English</a>
    </li>
  {% endif %}
  {% if current_lang != "zh_TW" %}
    <li>
      <a href="{% url_for h.current_url(), locale='zh_TW' %}">中文</a>
    </li>
  {% endif %}
{% endmacro %}

{% block header_account_logged %}
  {{ super() }}
  {{ language_selector() }}
{% endblock %}

{% block header_account_notlogged %}
  {{ super() }}
  {{ language_selector() }}
{% endblock %}

{% block header_site_navigation %}
  <nav class="section navigation">
    <ul class="nav nav-pills">
      {% block header_site_navigation_tabs %}
        {{ h.build_nav_main(
          ('search', _('Datasets')),
          ('organizations_index', _('Organizations')),
          ('group_index', _('Groups')),
          ('about', _('About')),
	  ('help', _('Help'))
        ) }}
      {% endblock %}
    </ul>
    <form class="section site-search simple-input" action="{% url_for controller='package', action
='search' %}" method="get">
      <div class="field">
        <input id="field-sitewide-search" type="text" name="q" placeholder="{{ _('Search') }}" />
        <button class="btn-search" type="submit"><i class="fa fa-search"></i></button>
      </div>
    </form>
  </nav>
{% endblock %}

{% block header_site_search %}
{% endblock %}
