{#- A hack for translating "Groups" to Chinese -#}

{{ _('Groups') }}
{{ _('group') }}
{{ _('Group') }}
{{ _('Add a Group') }}
{{ _('Group Form') }}
{{ _('Are you sure you want to delete group - {name}?') }}
{{ _('Edit Group') }}
{{ _('Add Group') }}
{{ _('Search groups...') }}
{{ _('There are currently no groups for this site') }}
{{ _('Create a Group') }}
{{ _('Update Group') }}
{{ _('Create Group') }}
{{ _('Datasets in group: {group}') }}
{{ _('My Group') }}
{{ _('my-group') }}
{{ _('A little information about my group...') }}
{{ _('Are you sure you want to delete this Group?') }}
{{ _('Save Group') }}
{{ _('Remove dataset from this group') }}
{{ _('What are Groups?') }}
{{ _('groups') }}
{{ _('Associate this group with this dataset') }}
{{ _('Add to group') }}
{{ _('There are no groups associated with this dataset') }}
{{ ungettext('{number} group found for "{query}"', '{number} groups found for "{query}"', count) }}
{{ _('No groups found for "{query}"') }}
{{ ungettext('{number} group found', '{number} groups found', count) }}
{{ _('No groups found') }}
{{ _('My Groups') }}
{{ _('You are not a member of any groups.') }}
{{ _('Create datasets, groups and other exciting things') }}
{{ _('This group has no description') }}
{{ _('Largest Groups') }}
{{ _('No groups') }}
{% trans %}
   <p><strong>Admin:</strong> Can edit group information, as well as
     manage organization members.</p>
   <p><strong>Member:</strong> Can add/remove datasets from groups</p>
{% endtrans %}
{% trans %}
  You can use CKAN Groups to create and manage collections of datasets.
  This could be to catalogue datasets for a particular project or team,
  or on a particular theme, or as a very simple way to help people find
  and search your own published datasets.
{% endtrans %}

{#- A hack for translating "ckanext-spatial" to Chinese -#}

{{ _('Filter by location') }}
