{% set doc_url = 'https://docs.depositar.io/{0}/{1}/'.format(h.lang(), h.get_pkg_version()) %}

<img alt="visual-abt" src="/images/visual-abt.jpg" class="about-img">

{% trans %}
<h1>What is <em>depositar</em>?</h1>

<p><em>depositar</em> — taking the term from the Portuguese/Spanish verb for <em>to
deposit</em> — is an online repository for research data. The site
<a href="https://data.depositar.io/">data.depositar.io</a> is built by the researchers
for the researchers. You are free to deposit, discover, and reuse datasets on
<em>depositar</em> for all your research purposes.</p>
{% endtrans %}

{% trans %}
<h2>Your datasets</h2>

<p>Datasets — collections of tables, maps, documents, or other data files —
are fast to upload and preview. Once uploaded, datasets have permanent
links for all to reference and download. You are encouraged to annotate
your datasets with rich metadata so that they can be better discovered.
An intuitive interface is provided to support spatiotemporal description
and query for datasets. Moreover, in <em>depositar</em> all datasets use
keywords sourced from
<a href="https://wikidata.org/" class="external" target="_blank">Wikidata</a>!
Datasets on <em>depositar</em> are
inter-connected by their semantics. They are ready to be explored and
reused.</p>
{% endtrans %}

{% trans %}
<h2>Your projects</h2>

<p>Research is team work, and <em>depositar</em> is built for collaborative
research! After getting accounts on <em>depositar</em>, researchers can form
projects to share datasets among themselves. Datasets can be put under
access control, so that they remain private to project members. Metadata
in <em>depositar</em> can be collaboratively edited, and different uploads of a
dataset are versioned. When it is time to release the data, there are
several open licenses to choose from. Of course, data can be dedicated
to the public domain too.</p>
{% endtrans %}

{% trans %}
<h2>It's open and free!</h2>

<p>The software for <em>depositar</em> is built on top of
<a href="https://ckan.org/" class="external" target="_blank">CKAN</a>,
an open source software package for publishing open data. CKAN stands for
<em>Comprehensive Knowledge Archive Network</em>. CKAN is a project from
<a href="https://okfn.org/" class="external" target="_blank">Open Knowledge International</a>,
and is itself supported by a viable developer
and user community. We customize and extend the CKAN codebase to better
support research data management. Our extensions to CKAN are
<a href="https://github.com/depositar/" class="external" target="_blank">open source</a>
too. The service provided by <a href="https://data.depositar.io/">data.depositar.io</a>
is experimental as of now. It is free for all academic use.</p>
{% endtrans %}

{% trans %}
<h2>More about <em>depositar</em></h2>

<p>Project <em>depositar</em> is a work in progress. Both
<a href="https://github.com/depositar/" class="external" target="_blank">source code</a> and
<a href="{{ doc_url }}" class="external" target="_blank">user manual</a> are available.
Please send comments and feedbacks to data.contact AT depositar.io.</p>

<p>This work has been carried out in
<a href="https://www.sinica.edu.tw/" class="external" target="_blank">Academia Sinica</a>,
Taiwan. It has been supported by the
<a href="https://www.iis.sinica.edu.tw/" class="external" target="_blank">Institute of Information Science</a>
and the <a href="https://www.citi.sinica.edu.tw/" class="external" target="_blank">Research Center for Information Technology Innovation</a>
(both at Academia Sinica), and in part by research grants from the Ministry of Science and
Technology of Taiwan. The project started from and remains as a collaboration with the
<a href="http://gis.rchss.sinica.edu.tw/" class="external" target="_blank">Center for GIS</a>
at the Research Center for Humanities and Social Sciences, Academia Sinica.</p>

<p>Developing <em>depositar</em> has been a team work. The following people, in
alphabetical order, have been or were once in the project team:
Tyng-Ruey Chuang (project lead), Ming-Syuan Ho (project manager),
Andrea Wei-Ching Huang, Cheng-Jen Lee (tech lead),
Hsiung-Ming Liao, Yen-Tsen Liu, Huang-Sin Syu, Ally
Chia-Hsun Wang (project manager), Yu-Huang Wang, and Yao-Hsien Yeh.</p>
{% endtrans %}
