<div class="container-fluid padding_tb_sm justify-content-center modify_bloc_5 width_full padding_exceed">
  <!-- Heading of the block -->
  <div class="row-bs4">
    <div class="col"><h2 class="featurette-heading">{{ _('Partners') }}</h2></div>
  </div>
  <div class="row-bs4 padding_tb_sm align-self-center">
    <div class="col">
      <a href="#">{{ _('Center for GIS, RCHSS, Academia Sinica') }}</a><br/>
      <a href="#">{{ _('Chia-nan Project') }}</a><br/>
    </div>
    <div class="w-100 hidden-md-up"></div><!-- /.BREAK MD -->
    <div class="col">
      <a href="http://soundscape.twgrid.org/">{{ _('Asian Soundscape Monitoring Network') }}</a><br/>
      <a href="#">{{ _('Collaborative Zuojhen Project') }}</a><br/>
    </div>
  </div>
</div>
