<div class="container-fluid padding_tb_sm index_topics padding_exceed justify-content-center width_full modify_bloc_3">
  <!-- Heading of the block -->
  <div class="row-bs4">
    <div class="col mt-1">
      <h2 class="featurette-heading">
        <a href="group">{{ _('Topics') }}</a>
      </h2>

      <div class="pull-right">
        <form class="site-search" action="{% url_for controller='package', action='search' %}" method="get">
          <input type="text" name="q" value="" autocomplete="off" placeholder="{{ _('Find datasets?') }}">
          <button class="btn_search" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
  <!-- Icons -->
  <div class="row-bs4 padding_tb_sm align-self-center mt-2">
    <div class="col">
      <a href="group/general-reference"><img class="img-circle mt-1" src="/icon-01.svg"></a>
      <h5 class="tx_black text-center">{{ _('General reference') }}</h5>
    </div><!-- /.span1 topic -->
    <div class="col">
      <a href="group/culture-and-the-arts"><img class="img-circle mt-1" src="/icon-02.svg"></a>
      <h5 class="tx_black text-center">{{ _('Culture and the arts') }}</h5>
    </div><!-- /.span1 topic -->
    <div class="w-100 hidden-sm-up"></div><!-- /.BREAK SM -->
    <div class="col">
      <a href="group/geography-and-places"><img class="img-circle mt-1" src="/icon-03.svg"></a>
      <h5 class="tx_black text-center">{{ _('Geography and places') }}</h5>
    </div><!-- /.span1 topic -->
    <div class="col">
      <a href="group/health-and-fitness"><img class="img-circle mt-1" src="/icon-04.svg"></a>
      <h5 class="tx_black text-center">{{ _('Health and fitness') }}</h5>
    </div><!-- /.span1 topic -->
    <div class="w-100 hidden-lg-up"></div><!-- /.BREAK LG -->
    <div class="col">
      <a href="group/history-and-events"><img class="img-circle mt-1" src="/icon-05.svg"></a>
      <h5 class="tx_black text-center">{{ _('History and events') }}</h5>
    </div><!-- /.span1 topic -->
    <div class="col">
      <a  href="group/human-activities"><img class="img-circle mt-1" src="/icon-06.svg"></a>
      <h5 class="tx_black text-center">{{ _('Human activities') }}</h5>
    </div><!-- /.span1 topic -->
    <div class="w-100 hidden-sm-up"></div><!-- /.BREAK SM -->
    <div class="col">
      <a  href="group/mathematics-and-logic"><img class="img-circle mt-1" src="/icon-07.svg"></a>
      <h5 class="tx_black text-center">{{ _('Mathematics and logic') }}</h5>
    </div><!-- /.span1 topic -->
    <div class="col">
      <a  href="group/natural-and-physical-sciences"><img class="img-circle mt-1" src="/icon-08.svg"></a>
      <h5 class="tx_black text-center">{{ _('Natural and physical sciences') }}</h5>
    </div><!-- /.span1 topic -->
    <div class="w-100"></div><!-- /.BREAK LG -->
    <div class="col">
      <a  href="group/people-and-self"><img class="img-circle mt-1" src="/icon-09.svg"></a>
      <h5 class="tx_black text-center">{{ _('People and self') }}</h5>
    </div><!-- /.span1 topic -->
    <div class="col">
      <a  href="group/philosophy-and-thinking"><img class="img-circle mt-1" src="/icon-10.svg"></a>
      <h5 class="tx_black text-center">{{ _('Philosophy and thinking') }}</h5>
    </div><!-- /.span1 topic -->
    <div class="w-100 hidden-sm-up"></div><!-- /.BREAK SM -->
    <div class="col">
      <a href="group/religion-and-belief-systems"><img class="img-circle mt-1" src="/icon-11.svg"></a>
      <h5 class="tx_black text-center">{{ _('Religion and belief systems') }}</h5>
    </div><!-- /.span1 topic -->
    <div class="col">
      <a href="group/society-and-social-sciences"><img class="img-circle mt-1" src="/icon-12.svg"></a>
      <h5 class="tx_black text-center">{{ _('Society and social sciences') }}</h5>
    </div><!-- /.span1 topic -->
    <div class="w-100 hidden-lg-up"></div><!-- /.BREAK LG -->
    <div class="col">
      <a  href="group/technology-and-applied-sciences"><img class="img-circle mt-1" src="/icon-13.svg"></a>
      <h5 class="tx_black text-center">{{ _('Technology and applied sciences') }}</h5>
    </div><!-- /.span1 topic -->
    <div class="col"></div><!-- /.span1 topic -->
    <div class="w-100 hidden-sm-up"></div><!-- /.BREAK SM -->
    <div class="col hidden-xs-down"></div><!-- /.span1 topic -->
    <div class="col hidden-xs-down"></div><!-- /.span1 topic -->
  </div>
</div>
