<div class="container-fluid bg_primary masthead modify_bloc_1 padding_exceed width_full bg_dark">
  <div class="mast_heading">
    <div class="row-bs4">
      <!-- Heading of the block -->
      <div class="m1_bloc_1">
        <p class="featurette-heading tx_white">{{ _('deposit・discover・reuse') }}</p>
        <p class="mt-3"><a class="btn_float" href="about">{{ _('Learn More') }}</a></p>
      </div>
      <!-- animation of the block-->
      <div class="m1_bloc_2 hidden-md-down">
        <img class="logo_ani">
      </div>
      <div class="m1_bloc_3 hidden-md-down">
        <canvas data-processing-sources="/mast-animation.pde"></canvas>
      </div>
    </div>
    <div class="row-bs4">
      <div class="col mx-auto"></div>
    </div>
  </div>
</div>
