<div class="container-fluid padding_tb_sm justify-content-center modify_bloc_5 width_full padding_exceed">
  <!-- Heading of the block -->
  <div class="row-bs4">
    <div class="col"><h2 class="featurette-heading">{{ _('Partners') }}</h2></div>
  </div>
  <div class="row-bs4 padding_tb_sm align-self-center">
    <div class="col">
      {% trans %}<a href="http://gis.rchss.sinica.edu.tw/index.php?lang=en">Center for GIS, RCHSS, Academia Sinica</a><br/>{% endtrans %}
      <a href="http://www.ecai.org/">Electronic Cultural Atlas Initiative (ECAI)</a><br/>
      {% trans %}<a href="https://chia-nan.geospat.io/en/">Chia-nan Interdisciplinary Project</a><br/>{% endtrans %}

    </div>
    <div class="w-100 hidden-md-up"></div><!-- /.BREAK MD -->
    <div class="col">
      {% trans %}<a href="#">Collaborative Zuojhen Project</a><br/>{% endtrans %}
      {% trans %}<a href="http://soundscape.twgrid.org/">Asian Soundscape Monitoring Network</a><br/>{% endtrans %}
      {% trans %}<a href="https://roadkill.tw/en/">Taiwan Roadkill Observation Network</a><br/>{% endtrans %}
    </div>
  </div>
</div>
