<div class="idx idx-features"><div class="container">
  <div class="row-bs4 mx-auto">
    <div class="col">
      <div>
        <p class="p_mark font_s">{{ _('for your ––––') }}</p>
        <h2 class=""> {{ _('Dataset') }}</h2>
        <p class="">支援眾多檔案格式；易於將資料區分群組、指定標籤，並可針對結構資料視覺化分析，提升被
探索及再使用率。</p>
        <p class="py-3"><a class="btn" href="/">{{ _('more') }}</a></p>
      </div>
    </div>
    <div class="w-100 d-md-none"></div>
    <div class="col border-l">
      <div>
        <p class="p_mark font_s">{{ _('for your ––––') }}</p>
        <h2 class=""> {{ _('Project') }}</h2>
        <p class="">佈屬組織功能，可區隔發佈身份與權限，以進行資料管理的內容審核。</p>
        <p class="py-3"><a class="btn" href="/">{{ _('more') }}</a></p>
      </div>
    </div>
    <div class="w-100 d-md-none"></div>
    <div class="col border-l">
        <div>
        <p class="p_mark font_s">{{ _('for your ––––') }}</p>
        <h2 class=""> {{ _('Promotion') }}</h2>
        <p class="">可針對時間、空間、標籤執行多面向搜尋，客製化短網址易於被瀏覽分享，並具備 API 功能，易於資料串接及運用。</p>
        <p class="py-3"><a class="btn" href="/">{{ _('more') }}</a></p>
      </div>
    </div>
  </div>
</div></div>
