<div class="idx idx-hero"><div class="container">
  <div class="hero-heading">
    <div class="row-bs4 mx-auto px-3 py-3">
      <!-- Heading of the block -->
      <div>
        <h2 class="featurette-heading">{{ _('deposit・discover・reuse') }}</h2>
        <p class="mt-4"><a class="btn btn-large btn-hero" href="about">{{ _('Learn More') }}</a></p>
      </div>
      <!-- animation of the block-->
      <div class="hero-animation-left d-none d-lg-block"></div>
      <div class="hero-animation-right d-none d-lg-block">
        <canvas data-processing-sources="/mast-animation.pde"></canvas>
      </div>
    </div>
    <div class="row-bs4">
      <div class="col mx-auto"></div>
    </div>
  </div>
</div></div>
