{% ckan_extends %}

{# Replace the promoted image. #}
  {% block home_image %}
    <section class="featured media-overlay hidden-phone">
      <h2 class="media-heading">{% block home_image_caption %}{{ _("Portuguese Drawing about Dutch Activities around Tayouan of Formosa-Taiwan.") }}{% endblock %}</h2>
      {% block home_image_content %}
        <a class="media-image" href="#">
          <img src="/promoted-image.jpg" alt="Placeholder" width="428" />
        </a>
      {% endblock %}
    </section>
  {% endblock %}
