{% ckan_extends %}

{%- block resource_format -%}
  <tr>
    <th scope="row">{{ _('Format') }}</th>
    <td>{{ res.format or res.mimetype_inner or res.mimetype or _('unknown') }}</td>
  </tr>
{%- endblock -%}

{%- block resource_license -%}
{%- endblock -%}

{% block resource_data_dictionary %}
{% endblock %}

{%- block resource_fields -%}
  {%- for field in schema.resource_fields -%}
    {%- if field.field_name not in exclude_fields and res[field.field_name]
        and field.display_snippet is not none -%}
      <tr>
        <th scope="row">
          {{- h.scheming_language_text(field.label) -}}
        </th>
        <td>
          {%- snippet 'scheming/snippets/display_field.html',
              field=field, data=res, entity_type='dataset',
              object_type=dataset_type -%}
        </td>
      </tr>
    {%- endif -%}
  {%- endfor -%}
  <tr>
    <th scope="row">{{ _('License') }}</th>
    <td>{% snippet "snippets/license_modified.html", pkg_dict=pkg, text_only=True %}</td>
  </tr>
{%- endblock -%}

{% block secondary_content %}
  {{ super() }}
  {% snippet "snippets/social.html" %}
{% endblock %}
